html{
    font-size: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    min-width: 1280px;
    @media screen and (min-width:1280px) and (max-width:1369px){font-size:11px;}
    @media screen and (min-width:1369px) and (max-width:1440px){font-size:12px;}
    @media screen and (min-width:1441px) and (max-width:1600px){font-size:14px;}
    @media screen and (min-width:1601px) and (max-width:1800px){font-size:16px;}
    @media screen and (min-width:1801px) and (max-width:1920px){font-size:16px;}
    @media screen and (min-width:1921px){font-size: 20px;}
}